@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$grid-columns: 12;
$max-width: 682px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 700px 12);