@charset "UTF-8";

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

$serif: "ff-tisa-web-pro", Georgia, serif;
$sans: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
 }
 html,body { 
  height: 100%;
  margin: 0; 
  padding: 0; 
  width: 100%;
}

body {
  background: #fff;
  color: #363636;
  font-family: $sans;
  font-size: 18px;
  line-height: 1;
  @include media($mobile) {
    font-size: 15px;
  }
}

section {
  @include outer-container;
  @include media($tablet) {
    max-width: 80%;
  }
}

h1,h2,h3,h4 {
  font-family: $serif;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  @include transition (color 0.1s ease-in);
  color: #7687bd;
}
a:hover {
  color: shade(#7687bd, 40%);
}

header {
  background: #f8f7f2 url(/images/header-bg.jpg) center center;
  background-size: cover;
  border-bottom: 12px solid #e4e3de;
  color: #e4e3de;
  height: 550px;
  position: relative;
  text-align: center;
  width: 100%;

  @include media($mobile) {
    background-size: auto;
    height: auto;
  }
} // eof header

.contact {
  line-height: 35px;
  padding-top: 30px;
  position: relative;
  vertical-align: middle;

  img {
    bottom: 8px;
    left: -30px;
    position: absolute;
    @include media($mobile) {
      bottom: auto;
      left: auto;
      margin: 0 auto;
      position: relative;
    }
  }

  h1 {
    @include span-columns(8);
    font-family: "vinyl", $sans;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    @include media($mobile) {
      font-size: 26px;
      line-height: 28px;
      text-align: center;
      width: 100%;
    }
  }

  nav {
    @include span-columns(4);
    text-align: right;
    @include media($mobile) {
      text-align: center;
      width: 100%;
    }

    a {
      color: #e4e3de;
      font-size: 18px;
      text-decoration: none;
      margin: 0 4px;
      padding: 2px;
      vertical-align: center;
      @include media($mobile) {
        font-size: 14px;
        margin: 0 8px;
      }

      &:hover {
        color: shade(#e4e3de, 40%);
      }
    }
  } // eof nav
} // eof .contact

.intro {
  margin-top: 130px;
  @include media($mobile) {
    margin: 25px 0 80px;
  }

  h1 {
    font-size: 43px;
    line-height: 1.2;
    margin: 0 0 10px;
    @include media($tablet) {
      font-size: 35px;
    }
    @include media($mobile) {
      font-size: 28px;
    }
  }
  h2 {
    font-family: $sans;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include media($mobile) {
      font-size: 11px;
      line-height: 1.1;
    }
  } // eof h2
} // eof .intro


.content {
  padding-top: 56px;

  h2 {
    clear: both;
    font-size: em(22);
    margin-bottom: 6px;
    position: relative;

    &:before {
      color: #aaa;
      font-size: .9em;
      left: -32px;
      position: absolute;
      top: 7px;
      @include media($mobile) {
        left: -24px;
        font-size: 0.8em;
        top: 5px;
      }
    } // eof &
  } // eof h2

  p {
    line-height: 28px;
    margin-bottom: 60px;

    &+p {
      margin-top: -45px;
    }

    &+h3 {
      margin-top: -30px;
    }
  } // eof p

  h3 {
    margin: 12px 0 6px;
    img {
      max-width: 150px;
    }
  }

}

footer {
  font-size: 0.8em;
  margin: 40px 0 0;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;

  nav {
    margin-bottom: 15px;
  }

  p {
    line-height: 1.8;
  }

  a {
    color: #363636;
    margin: 0 4px;
    padding: 2px;
    text-decoration: none;
    @include media($mobile) {
      margin: 0 8px;
    }
  }

  i {
    @include transform(rotate(-10deg));
    color: #9d727a;
    display: inline-block;
    font-size: 0.8em;
  }
}