* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  background: #fff;
  color: #363636;
  font-family: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1; }
  @media screen and (max-width: 700px) {
    body {
      font-size: 15px; } }

section {
  max-width: 682px;
  margin-left: auto;
  margin-right: auto; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    section {
      max-width: 80%; } }

h1, h2, h3, h4 {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-weight: normal;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  color: #7687bd; }

a:hover {
  color: #465171; }

header {
  background: #f8f7f2 url(/images/header-bg.jpg) center center;
  background-size: cover;
  border-bottom: 12px solid #e4e3de;
  color: #e4e3de;
  height: 550px;
  position: relative;
  text-align: center;
  width: 100%; }
  @media screen and (max-width: 700px) {
    header {
      background-size: auto;
      height: auto; } }

.contact {
  line-height: 35px;
  padding-top: 30px;
  position: relative;
  vertical-align: middle; }
  .contact img {
    bottom: 8px;
    left: -30px;
    position: absolute; }
    @media screen and (max-width: 700px) {
      .contact img {
        bottom: auto;
        left: auto;
        margin: 0 auto;
        position: relative; } }
  .contact h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    font-family: "vinyl", "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase; }
    .contact h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .contact h1 {
        font-size: 26px;
        line-height: 28px;
        text-align: center;
        width: 100%; } }
  .contact nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: right; }
    .contact nav:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .contact nav {
        text-align: center;
        width: 100%; } }
    .contact nav a {
      color: #e4e3de;
      font-size: 18px;
      text-decoration: none;
      margin: 0 4px;
      padding: 2px;
      vertical-align: center; }
      @media screen and (max-width: 700px) {
        .contact nav a {
          font-size: 14px;
          margin: 0 8px; } }
      .contact nav a:hover {
        color: #888885; }

.intro {
  margin-top: 130px; }
  @media screen and (max-width: 700px) {
    .intro {
      margin: 25px 0 80px; } }
  .intro h1 {
    font-size: 43px;
    line-height: 1.2;
    margin: 0 0 10px; }
    @media screen and (max-width: 768px) {
      .intro h1 {
        font-size: 35px; } }
    @media screen and (max-width: 700px) {
      .intro h1 {
        font-size: 28px; } }
  .intro h2 {
    font-family: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media screen and (max-width: 700px) {
      .intro h2 {
        font-size: 11px;
        line-height: 1.1; } }

.content {
  padding-top: 56px; }
  .content h2 {
    clear: both;
    font-size: 1.375em;
    margin-bottom: 6px;
    position: relative; }
    .content h2:before {
      color: #aaa;
      font-size: .9em;
      left: -32px;
      position: absolute;
      top: 7px; }
      @media screen and (max-width: 700px) {
        .content h2:before {
          left: -24px;
          font-size: 0.8em;
          top: 5px; } }
  .content p {
    line-height: 28px;
    margin-bottom: 60px; }
    .content p + p {
      margin-top: -45px; }
    .content p + h3 {
      margin-top: -30px; }
  .content h3 {
    margin: 12px 0 6px; }
    .content h3 img {
      max-width: 150px; }

footer {
  font-size: 0.8em;
  margin: 40px 0 0;
  padding-bottom: 30px;
  text-align: center;
  width: 100%; }
  footer nav {
    margin-bottom: 15px; }
  footer p {
    line-height: 1.8; }
  footer a {
    color: #363636;
    margin: 0 4px;
    padding: 2px;
    text-decoration: none; }
    @media screen and (max-width: 700px) {
      footer a {
        margin: 0 8px; } }
  footer i {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    color: #9d727a;
    display: inline-block;
    font-size: 0.8em; }
